div,ul,li,header,aside,section,h1,h2,h3,h4,h5,h6,main, body, form, html{
    padding: 0;
    margin: 0;
}
body {
    background-color: #f8fbfd;
    width: 100%;
    font-size: 1em;
}
* {
    box-sizing: border-box;
}
input,button,textarea, select {
    outline: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.nav-area {
    background-color: #3192ff;
    color: #f8fbfd;
}
@media (min-width: 992px) {
    .nav-area, ul.sidebar {
        padding-top: 100px !important;
    }
    .full-height {
        height: 100vh;
    }
}
ul.sidebar {
    list-style: none;
}

.first-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.first-nav .nav-item {
    padding: 15px 16px;
}
.first-nav a li{
    color: #f8fbfd;
    transition: .3s;
}

.first-nav a:hover li {
    background-color: #f8fbfd;
    color:  #3192ff;
    
}
.end-nav {
    margin-top: auto;
}

.sidebar .nav-item {
    color: #b1b6c9;
    padding: 3px 30px;
    margin: 5px 0;
    transition: .3s;
}
.sidebar .nav-item i {
    display: inline-block;
    margin-right: 15px;
}
.sidebar .nav-item.active {
    color: #3192ff;
    border-right: 3px solid #3192ff;
}
.sidebar a:hover .nav-item {
    color: #3192ff;
}
.page-title {
    font-weight: normal;
    font-size: 1.8em;
}
.input-g-text {
    color: #b1b6c9;
    background-color: #fff;
}